/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.flex {
  display: flex;
}

/* HEADER */

.bg-black-top {
  height: 40px;
  background-color: #000000;
}

.position-button {
  min-height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  margin: 5px;
  padding: 5px 8px;

  border: none;
  border-radius: 5px;

  background-color: #4a4a4a;
  color: white;
}

/* MAIN */

.container {
  width: 1750px;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: calc(100vh - 40px);
  background-color: black;
}

.card {
  width: 240px;
  height: 160px;
  border: 2px dashed rgb(0, 255, 85);
  margin-top: 20px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
