/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

/* HEADER */

.bg-black-top {
  height: 40px;
  background-color: #000000;
}

.position-button {
  min-height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  margin: 5px;
  padding: 5px 8px;

  border: none;
  border-radius: 5px;

  background-color: #4a4a4a;
  color: white;
}

/* MAIN */

.container {
  width: 1750px;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: calc(100vh - 120px);
  background-color: black;
}

.card {
  width: 240px;
  height: 140px;

  position: relative;

  background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  background-position: bottom;

  margin-top: 20px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pic-text {
  position: absolute;
  bottom: 0;
  left: 0;

  color: white;
  font-size: 0.9rem;

  background-color: rgba(10, 10, 10, 0.5);
  padding: 5px;
}

/* FOOTER */

.bg-grey {
  height: 80px;
  background-color: #222222;
}

footer div {
  padding: 0 5px;
}

.debug {
  width: 20%;
  height: 100%;
  border: 1px dashed purple;
}

.debug-center {
  width: 37%;
}

footer {
  color: white;
}

footer i {
  font-size: 1.8rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.chevron {
  font-size: 0.5rem;
}

.text-footer {
  font-size: 0.8rem;
}
